<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="NG_Root">
            <directory>./NGTest/Root/Exception</directory>
            <directory>./NGTest/Root/Prototype</directory>
            <directory>./NGTest/Root/Record</directory>
            <directory>./NGTest/Root/Type</directory>
        </testsuite>
    </testsuites>
</phpunit>