<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="yagmikita/framework test suite">
            <directory>./Types</directory>
            <directory>./Html</directory>
            <directory>./Helpers</directory>
            <directory>./Decorators</directory>
            <directory>./Validators</directory>
            <directory>./Application</directory>
        </testsuite>
    </testsuites>
</phpunit>